.controls-container {
  display: flex;

  grid-column: 2;
  grid-row: 3;

  flex-direction: column;
  align-items: center;
}
.heading {
  color: #1cff1c;
}
.button-container {
  display: flex;
  gap: 5px;
}

.evolution-time {
  font-weight: bold;
}
