.game-field {
  display: grid;
  height: 100%;
  width: 100%;
  /* gap: 2px; */
  grid-template-columns: repeat(50, 14px);
  grid-template-rows: repeat(50, 14px);
  justify-content: center;
  align-content: center;
}
.cell,
.dead,
.alive {
  border: 2px solid darkgray;
}

.dead {
  background-color: black;
}

.alive {
  background-color: #1cff1c;
}
