.game-field {
  display: grid;
  grid-template-columns: repeat(50, 14px);
  grid-template-rows: repeat(50, 14px);
  justify-content: center;
  grid-column: 2;
}
.cell,
.dead,
.alive {
  border: 2px solid darkgray;
}

.dead {
  background-color: black;
}

.alive {
  background-color: #1cff1c;
}
